
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/EditorUserSettings.asset
Library/EditorUserBuildSettings.asset
Library/LastSceneManagerSetup.txt
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ShaderCache.db
